body {
    background-color: #363636;
    color: rgb(0, 0, 0);
}
h1 {
    color: rgb(0, 0, 0);
    text-align: center;
    size: 2em;
  }
.heading{
    size: 3em;
    padding: 1em;
    text-align: center;
}
.menu{
    color: black;
    size: 1em;
    text-align: center;
}
nav{
    color: black;
    text-align: center; 
}
.footer1{
    color: black;
    text-align: center;
    word-spacing: 3em;
}
#copyright{
    color: black;
    size: 0.3em;
    text-align: left;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: #FFFFFF;
}

