body {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
h1 {
    color: rgb(0, 0, 0);
    background-color: white;
    size: 2em;
  }
.heading{
    background-color: black;
    size: 3em;
    padding: 1em;
    text-align: center;
}
.menu{
    background-color: rgb(57, 146, 117);
    color: black;
    size: 1em;
    text-align: center;
}
nav{
    background-color: darkolivegreen;
    color: black;
    text-align: center; 
}
#copyright{
    background-color: darkolivegreen;
    color: black;
    size: 0.3em;
}
footer{
    text-align: center;
}
5