body {
    background-color: black;
    color: white;
}
h1 {
    color: white;
    background-color: black;
    size: 2em;
  }
.heading{
    background-color: black;
    size: 3em;
    padding: 1em;
    text-align: center;
}
.menu{
    background-color: aquamarine;
    color: black;
    size: 1em;
    text-align: center;
}
nav{
    background-color: darkolivegreen;
    color: black;
    text-align: center; 
}
#copyright{
    background-color: darkolivegreen;
    color: black;
    size: 0.3em;
}
footer{
    text-align: center;
}